.footer {
  background-color: #222;
  color: #fff;
  padding: 3em;
  text-align: center;
}

.social_list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.social_list li {
  margin: 0 1em;
}

.social_list li:hover {
  color: #ffbb33;
}

.social_list li svg {
  font-size: 1.5em;
  cursor: pointer;
}

.copyright {
  margin-top: 2em;
}

.copyright span {
  color: #ffbb33;
  font-weight: bold;
}
